<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../style/basket.css">
    <link rel="stylesheet" href="../../../style/detail.css">
</head>

<body>

    <div class="basket">
        <div>
            <div class="basket-header">
                <span class="closeBtn">g</span>
                <img src="../../../media/category-icon.svg" alt="logo-basket" />
                <h2 class="basket-header-title">Ваша корзина</h2>
            </div>
        </div>
        <div class="basket-content">
            <Fragment>
                <div class="basket-item">
                    <div class="basket-item-сontent">
                        <div class="basket-product">
                            <img src="../../../media/avatar-icon.svg" alt="" />
                            <p class="basket-product-title">Яблоко</p>
                        </div>
                        <div class="quantityButton">
                            <button type="button" class="decreaseButton"></button>
                            <span class="quantityProduct">1</span>
                            <button type="button" class="increaseButton"></button>
                        </div>
                    </div>
                    <div class="basket-optionals">
                        <div class="basket-item-price">
                            <span class="basket-price">100</span>
                            <span class="basket-weight">
                                100
                            </span>
                        </div>


                        <div class="basket-total-wrapper">
                            <span class="basket-netTotal">
                                500
                            </span>
                        </div>
                    </div>
                </div>
        </div>
        <div class="basket-footer">
            <div class="basket-delivery-wrapper">
                <div class="basket-delivery">
                    <p class="basket-delivery-title">delivery</p>
                    <span class="basket-delivery-price">50252</span>
                </div>
            </div>
            <button onClick={onCheckButton} disabled={!basketItemList?.length} type="button" id="button"
                class="checkoutBtn">
                basketBtn
                <span>
                    1000</span>
            </button>
        </div>
    </div>
</body>

</html>