<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../../../style/style.css">
    <link rel="stylesheet" href="../../../style/header.css">
    <link rel="stylesheet" href="../../../style/auth.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <div class="logo">
                   <img src="../../../media/logo-agromall.svg" alt="logo-agromall"> 
                </div>
                <ul class="header-contacts">
                    <li>
                        <a href="tel:+99670000000" class='header-contacts-link'>+99670000000</a>
                    </li>
                    <li>
                        <a href="mailto:agromall@gmail.com" class='header-contacts-link'>agromall@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="nav">
                <div class="callcenter-image">
                    Консультация
                    <img src="../../../media/callcenter-icon.svg" alt="callcenter">
                </div>
                <div class="nav-inner">
                    <label for="search-input" class="search-inner">
                        <input id="search-input" class="search-input" type="text" placeholder="Я ищу">
                        <i class="search-icon"></i>
                    </label>
                    <div class="user-auth-btn">
                        <a class="user-auth-link" href="/">Войти</a>
                        <a class="user-auth-link" href="/">Регистрация</a>
                    </div>
                </div>
            </div>
            <div class="order-success">
                <h1 class="order-success-ttl">Спасибо за покупку!</h1>
                <img class="order-success-image" src="../../../media/thank-you.png" alt="">
                <a href="/" class="order-success-btn">На главную</a>
            </div>

        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer-inner">
                <p class="copyright">© 2023 AgroMall. KYRGYZSTAN.BISHKEK</p>
            </div>
        </div>
    </footer>
</body>
</html>