<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../../../style/style.css">
    <link rel="stylesheet" href="../../../style/header.css">
    <link rel="stylesheet" href="../../../style/auth.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <div class="logo">
                   <img src="../../../media/logo-agromall.svg" alt="logo-agromall"> 
                </div>
                <ul class="header-contacts">
                    <li>
                        <a href="tel:+99670000000" class='header-contacts-link'>+99670000000</a>
                    </li>
                    <li>
                        <a href="mailto:agromall@gmail.com" class='header-contacts-link'>agromall@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="auth">
                <h1 class="auth-ttl">Добро пожаловать!</h1>
                <div class="auth-inner">
                    <form class="auth-form">
                        <div class="auth-up">
                            <label for="auth-email" class="auth-label">Email</label>
                            <input class="auth-input" id="auth-email" type="text" placeholder="Введите email">
                        </div>
                        <div class="auth-up">
                            <label for="auth-password" class="auth-label">Пароль</label>
                            <input class="auth-input" id="auth-password" type="text" placeholder="Введите пароль">
                        </div>
                        <div class="password-restore">
                            <label for="password-save" class="password-save">
                                <input type="checkbox" id="password-save">
                                Запомнить меня
                            </label>
                            <a href="/" class="password-forgot">Забыли пароль?</a>
                        </div>
                        <button type="submit" class="auth-btn">Войти</button>
                    </form>
                    <div class="auth-image">
                        <img src="https://images.hibeta.com/pictures/restorants/2023/2/23/Show_123123333.webp" alt="auth-image">
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer-inner">
                <p class="copyright">© 2023 AgroMall. KYRGYZSTAN.BISHKEK</p>
            </div>
        </div>
    </footer>
</body>
</html>