<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../style/style.css">
    <link rel="stylesheet" href="../../style/header.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">

</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <div class="logo">
                    <img src="../../media/logo-agromall.svg" alt="logo-agromall">
                </div>
                <ul class="header-contacts">
                    <li>
                        <a href="tel:+99670000000" class='header-contacts-link'>+99670000000</a>
                    </li>
                    <li>
                        <a href="mailto:agromall@gmail.com" class='header-contacts-link'>agromall@gmail.com</a>
                    </li>
                </ul>

            </div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="main-wrapper">
                <div class="nav">
                    <div class="callcenter-image">
                        Консультация
                        <img src="../../media/callcenter-icon.svg" alt="callcenter">
                    </div>
                    <div class="nav-inner">
                        <label for="search-input" class="search-inner">
                            <input id="search-input" class="search-input" type="text" placeholder="Я ищу">
                            <i class="search-icon"></i>
                        </label>
                        <div class="user-auth-btn">
                            <a class="user-auth-link" href="/">Войти</a>
                            <a class="user-auth-link" href="/">Регистрация</a>
                        </div>
                    </div>
                </div>
                <div class="main-inner">
                    <aside class="sidebar">
                        <ul class="sidebar-inner">
                            <li class="sidebar-item">
                                <a class="sidebar-item-link" href="/">
                                    <i class="sidebar-home-icon"></i>
                                    Главная
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-item-link" href="/">
                                    <i class="sidebar-profile-icon"></i>
                                    Личный кабинет
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <span class="sidebar-item-link">
                                    <i class="sidebar-category-icon"></i>
                                    Категории
                                </span>
                                <div class="sidebar-category-dropdown">
                                    <a class="sidebar-category-dropdown-link" href="/"><i class="sidebar-seeds-icon"></i>Семена</a>
                                    <a class="sidebar-category-dropdown-link" href="/"><i class="sidebar-fertilizer-icon"></i>Удобрения</a>
                                    <a class="sidebar-category-dropdown-link" href="/"><i class="sidebar-new-plant-icon"></i>Защита растений</a>
                                    <a class="sidebar-category-dropdown-link" href="/"><i class="sidebar-gardening-tools-icon"></i>Инструмент</a>
                                </div>
                            </li>
                            
                        </ul>
                    </aside>
                    <div class="products">
                        
                        <div class="products-wrapper">
                            <h2 class="products-item-ttl">Популярное</h2>
                            <div class="products-inner">
                                <div class="products-item">
                                    <div class="products-item-image">
                                        <img src="https://images.hibeta.com/pictures/restorants/2023/2/23/Show_123123333.webp"
                                            alt="">
                                    </div>
                                    <div class="products-item-content">
                                        <div class="products-item-rating">
                                            <div class="rating">
                                                <i class="star"></i>
                                                <span>47</span>
                                            </div>
                                            <span>1000 шт</span>
                                        </div>
                                        <div class="products-item-quantity">
                                            <span>Семена</span>
                                            <span>Картошка</span>
                                        </div>
                                        <div class="products-item-prices">
                                            <span class="old-price">600 сом</span>
                                            <span class="new-price">6000 сом</span>
                                        </div>
                                        <div class="products-item-btns">
                                            <a href="/" class="more-btn">Подробнее</a>
                                            <button class="basket-btn"><img src="../../media/shopping-cart-icon.svg" alt=""></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="products-item">
                                    <div class="products-item-image">
                                        <img src="https://images.hibeta.com/pictures/restorants/2023/2/23/Show_123123333.webp"
                                            alt="">
                                    </div>
                                    <div class="products-item-content">
                                        <div class="products-item-rating">
                                            <div class="rating">
                                                <i class="star"></i>
                                                <span>47</span>
                                            </div>
                                            <span>1000 шт</span>
                                        </div>
                                        <div class="products-item-quantity">
                                            <span>Семена</span>
                                            <span>Картошка</span>
                                        </div>
                                        <div class="products-item-prices">
                                            <span class="old-price">600 сом</span>
                                            <span class="new-price">6000 сом</span>
                                        </div>
                                        <div class="products-item-btns">
                                            <a href="/" class="more-btn">Подробнее</a>
                                            <button class="basket-btn"><img src="../../media/shopping-cart-icon.svg" alt=""></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="products-item">
                                    <div class="products-item-image">
                                        <img src="https://images.hibeta.com/pictures/restorants/2023/2/23/Show_123123333.webp"
                                            alt="">
                                    </div>
                                    <div class="products-item-content">
                                        <div class="products-item-rating">
                                            <div class="rating">
                                                <i class="star"></i>
                                                <span>47</span>
                                            </div>
                                            <span>1000 шт</span>
                                        </div>
                                        <div class="products-item-quantity">
                                            <span>Семена</span>
                                            <span>Картошка</span>
                                        </div>
                                        <div class="products-item-prices">
                                            <span class="old-price">600 сом</span>
                                            <span class="new-price">6000 сом</span>
                                        </div>
                                        <div class="products-item-btns">
                                            <a href="/" class="more-btn">Подробнее</a>
                                            <button class="basket-btn"><img src="../../media/shopping-cart-icon.svg" alt=""></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="products-item">
                                    <div class="products-item-image">
                                        <img src="https://images.hibeta.com/pictures/restorants/2023/2/23/Show_123123333.webp"
                                            alt="">
                                    </div>
                                    <div class="products-item-content">
                                        <div class="products-item-rating">
                                            <div class="rating">
                                                <i class="star"></i>
                                                <span>47</span>
                                            </div>
                                            <span>1000 шт</span>
                                        </div>
                                        <div class="products-item-quantity">
                                            <span>Семена</span>
                                            <span>Картошка</span>
                                        </div>
                                        <div class="products-item-prices">
                                            <span class="old-price">600 сом</span>
                                            <span class="new-price">6000 сом</span>
                                        </div>
                                        <div class="products-item-btns">
                                            <a href="/" class="more-btn">Подробнее</a>
                                            <button class="basket-btn"><img src="../../media/shopping-cart-icon.svg" alt=""></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="products-item">
                                    <div class="products-item-image">
                                        <img src="https://images.hibeta.com/pictures/restorants/2023/2/23/Show_123123333.webp"
                                            alt="">
                                    </div>
                                    <div class="products-item-content">
                                        <div class="products-item-rating">
                                            <div class="rating">
                                                <i class="star"></i>
                                                <span>47</span>
                                            </div>
                                            <span>1000 шт</span>
                                        </div>
                                        <div class="products-item-quantity">
                                            <span>Семена</span>
                                            <span>Картошка</span>
                                        </div>
                                        <div class="products-item-prices">
                                            <span class="old-price">600 сом</span>
                                            <span class="new-price">6000 сом</span>
                                        </div>
                                        <div class="products-item-btns">
                                            <a href="/" class="more-btn">Подробнее</a>
                                            <button class="basket-btn"><img src="../../media/shopping-cart-icon.svg" alt=""></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="products-item">
                                    <div class="products-item-image">
                                        <img src="https://images.hibeta.com/pictures/restorants/2023/2/23/Show_123123333.webp"
                                            alt="">
                                    </div>
                                    <div class="products-item-content">
                                        <div class="products-item-rating">
                                            <div class="rating">
                                                <i class="star"></i>
                                                <span>47</span>
                                            </div>
                                            <span>1000 шт</span>
                                        </div>
                                        <div class="products-item-quantity">
                                            <span>Семена</span>
                                            <span>Картошка</span>
                                        </div>
                                        <div class="products-item-prices">
                                            <span class="old-price">600 сом</span>
                                            <span class="new-price">6000 сом</span>
                                        </div>
                                        <div class="products-item-btns">
                                            <a href="/" class="more-btn">Подробнее</a>
                                            <button class="basket-btn"><img src="../../media/shopping-cart-icon.svg" alt=""></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="products-item">
                                    <div class="products-item-image">
                                        <img src="https://images.hibeta.com/pictures/restorants/2023/2/23/Show_123123333.webp"
                                            alt="">
                                    </div>
                                    <div class="products-item-content">
                                        <div class="products-item-rating">
                                            <div class="rating">
                                                <i class="star"></i>
                                                <span>47</span>
                                            </div>
                                            <span>1000 шт</span>
                                        </div>
                                        <div class="products-item-quantity">
                                            <span>Семена</span>
                                            <span>Картошка</span>
                                        </div>
                                        <div class="products-item-prices">
                                            <span class="old-price">600 сом</span>
                                            <span class="new-price">6000 сом</span>
                                        </div>
                                        <div class="products-item-btns">
                                            <a href="/" class="more-btn">Подробнее</a>
                                            <button class="basket-btn"><img src="../../media/shopping-cart-icon.svg" alt=""></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="products-item">
                                    <div class="products-item-image">
                                        <img src="https://images.hibeta.com/pictures/restorants/2023/2/23/Show_123123333.webp"
                                            alt="">
                                    </div>
                                    <div class="products-item-content">
                                        <div class="products-item-rating">
                                            <div class="rating">
                                                <i class="star"></i>
                                                <span>47</span>
                                            </div>
                                            <span>1000 шт</span>
                                        </div>
                                        <div class="products-item-quantity">
                                            <span>Семена</span>
                                            <span>Картошка</span>
                                        </div>
                                        <div class="products-item-prices">
                                            <span class="old-price">600 сом</span>
                                            <span class="new-price">6000 сом</span>
                                        </div>
                                        <div class="products-item-btns">
                                            <a href="/" class="more-btn">Подробнее</a>
                                            <button class="basket-btn"><img src="../../media/shopping-cart-icon.svg" alt=""></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer-inner">
                <p class="copyright">© 2023 AgroMall.<span>Kyrgyzstan.Bishkek</span></p>
            </div>
        </div>
    </footer>
</body>

</html>